
body{
  background-color: #070724;
  background-image: url(/src/images/background-stars.svg);
}
.App {
  text-align: center;
  margin: 0px;
  color: white;
}

/*Header*/

/*
.header-section done
.website-heading done
.sidebar done
.hamburger-icon done
.close-icon done
.planet-name-div-desktop
.planet-name-desktop
*/

.planet-div{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.circle{
  background-color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0 24px 0 0px;
}

.header-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0% 24px;
  border-bottom: 1px solid gray;
  margin: 0px;
}
.website-heading{
  color: white;
}
.hamburger-icon:hover{
  cursor: pointer;
}
.close-icon{
  opacity: 0.6;
}
.close-icon:hover{
  cursor: pointer;
}
.planet-name-div-desktop{
  display: none;
}



.sidebar-section{
  width: 100%;
  margin: 0px auto 0px auto;
}

/*
planet-detail-section
planet-info-section done
border done
planet-header-mobile done
attribute-text done
planet-info-div done
planet-image done
planet-img done
planet-info done
planet-description done
source done
planet-header-desktop
planet-detail-div
*/

.planet-detail-section{
  display: none;
  width: 100%;
  margin: 0px;
}
.planet-info-section{
  width: 100%;
  margin: 0px auto;
}
.border{
  width: 100%;
  border-bottom: 1px solid gray;
  padding:0px;
  margin: 0px;
} 
.planet-info-div{
  width: 100%;
  margin: 0px auto;
  padding: 0px;
}
.planet-header-mobile{
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  align-items: center;
}
.attribute-text{
  margin: 0px;
  color: gray;
  padding: 12px 0px;
}
.attribute-text:hover{
  color: white;
  cursor: pointer;
}
.attribute-text-mobile{
  color: white;
  border-bottom: 6px solid #000;
}
.attribute-text:focus{
  color: white;
}
.planet-image{
  margin: 24px auto;
}
.planet-info{
  width: 80%;
  margin: 45px auto;
}
.planet-name{
  font-size: 2rem;
}
.source{
  display: block;
  margin: 36px auto;
  color: white;
}
.planet-header-desktop{
  display: none;
}

.planet-detail-div{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 12px auto;
  border: gray 1px solid;
  padding: 6px 24px;
}
.info{
  font-weight: 300;
  color: white;
  font-size: 1.2rem;
}
.info-topic{
  color: gray;
  align-self: center;
}

.planet-names{
  display: flex;
  margin: 24px;
  justify-content: space-between;
  font-size: 1.5rem;
  align-items: center;
  border-bottom: 1px solid gray;
  padding-left: 12px;
}
.planet-names:hover{
  cursor: pointer;
}













@media screen and (min-width:1000px) {

/*
.header-section done
.website-heading done 
.sidebar done
.hamburger-icon done
.close-icon done
.planet-name-div-desktop done
.planet-name-desktop done
*/
  .header-section{
    margin: 0px auto;
    padding: 0px auto;
  }
  .sidebar{
    display: none;
  }
  .planet-name-div-desktop{
    font-size: 1rem;
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
    padding: 0px;
  }
  .planet-name-desktop{
    padding: 24px 0px;
    margin-bottom: 0px;
    border-bottom: 1px solid #000;
  }
  .planet-name-desktop:hover{
    cursor: pointer;
  }

/*
.sidebar-section
.planet-names
*/
  .sidebar-section{
    display: none;
  }

  /*
planet-detail-section d
planet-info-section done d
border done d
planet-header-mobile done d
attribute-text done d
planet-info-div done d
planet-image done d
planet-img done d
planet-info done d
planet-description done
source done
planet-header-desktop
planet-detail-div
*/

.planet-detail-section{
  display: block;
}
.planet-info-section{
  width: 80%;
  margin: 0px auto;
}
  .border{
    display: none;
  }
  .planet-header-mobile{
    display: none;
  }
  .attribute-text{
    border: 1px solid gray;
    padding: 18px 24px;
    font-size: 1rem;
    margin: 12px 0;
  }
  .active-attribute{
    background-color: #545BFE;
    color: white;
  }
  .planet-info-div{
    margin: 12px auto 0 auto;
    display: flex;
    justify-content: space-between;
    text-align: left;
    width: 90%;
  }
  .planet-image{
    align-self: center;
    width: 80%;
    text-align: left;
  }
  .planet-img{
    width: 50%;
  }
  .planet-info{
    width: 40%;
  }
  .planet-name{
    font-size: 5rem;
    margin: 6px 0px;
  }
  .planet-description{
    margin-top: 16px;
    font-size: 1.2rem;
  }
  .source{
    margin: 50px auto;
  }
  .planet-header-desktop{
    display: block;
    margin: 48px auto 0 auto;
  }
  .planet-details{
    display: flex;
    justify-content: space-between;
  }
  .planet-detail-div{
    display: block;
    text-align: left;
    padding: 24px 30px; 
    margin: 0px 24px;
    width: 100%;
  }
  .info-topic{
    margin: 0px;
    align-self: center;
    padding: 0px;
    font-weight: bold;
    padding: 12px 0px;
  }
  .info{
    margin: 0px;
    padding: 0px;
    font-size: 2rem;
    font-weight: 400;
  }
}

